/* make scrolling smooth */

html {
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* 
 get rid of padding & sizing on body so
 header is at top
*/

body {
    margin: 0;
    font-weight:500;
    background:#ECF1EF;
}

/* add some padding back to rest of page */

main {
    padding: 2vw;
}

/* logo */

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 6vw;
    width: 6vw;
}

.logo h1 {
    font-size: 1.2em;
}

header {
    text-align:center;
    position: fixed;
    z-index:999;
    width: 100%;
}
/* navbar */
.nav-toggle {
    position: absolute;
    top: -9999px;
    right:-9999px;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    right:0;
    margin-right:1em;
    height: 100%;
    display:flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: black;
    height: 2px;
    width:2em;
    border-radius: 2px;
    position: relative;
    align-items: right;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content:'';
    position: absolute;
}

.nav-toggle-label span::before {
bottom: 7px;
}

.nav-toggle-label span::after {
top: 7px;
}

nav {
    position: absolute;
    text-align:right;
    top:100%;
    right:0;
    background: #ECF1EF;
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style:none;
    align-items: center;
}

/* navigation list */

nav li {
margin-bottom: 1em;
margin-right: 1em;
align-items: center;
}

/* style all a tags in header and then on hover */
nav a {
    color:black;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    align-items: center;
}

nav a:hover {
    color: black;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);

}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 2500ms;
}


/* media query for non-mobile nav bar min-width set to width of nav elements such that no text wraps */

@media screen and (min-width:60rem) {
    .nav-toggle-label {
        display: none;
      }
    .nav li {
        display: flex;
        justify-content: space-between;
    }

    .nav {
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1,1);
        background: none;
        top: initial;
        left: initial;
        flex-direction: row;
        justify-content: space-between;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .nav ul {
        display: flex;
        justify-content: space-between;
    }
    nav li {
        margin-left: 3em;
        margin-bottom: 0;
      }
      
      nav a {
        opacity: 1;
        position: relative;
      }
      
      nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
      }
      
      nav a:hover::before {
        transform: scale(1,1);
      }
}